@import "node_modules/ol/ol.css";

body { 
  font-family: Arial, sans-serif; text-align: center; 
}

#map { 
  width: 80%; height: 500px; margin: auto; 
}

.controls { 
  margin: 10px;
}

.coordinates { 
  margin-top: 10px;
}